li {
  list-style-type: none;
}

.card-nota {
  color: rgb(204, 0, 240);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
  flex-wrap: wrap;
  padding: 16px;
  margin: 15px 20px;
}

.card-nota-cabecalho {
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-nota-titulo {
  font-size: 1.2em;
  margin-right: 12px;
}

.card-nota-texto {
  margin-top: 8px;
  font-size: 1em;
}
